

.custom-modal-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.custom-modal {
    border-radius: 8px;
    width: 100%;}

.custom-modal button {
    margin-top: 10px;
    cursor: pointer;
    
}